// === Сброс ===
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// === Переменные ===
$white: #ffffff;
$p-color: #eaeaea;

$orange: #ffffff;
$black: #000;
$ActiveColor: #ff0066;
$HeaderBgColor : linear-gradient(90.29deg, rgb(80, 8, 8) 20%, rgb(0, 0, 0) 99.8%) no-repeat;
$MainBgColor: linear-gradient(-90.29deg, rgb(80, 8, 8) 20%, rgb(0, 17, 103) 99.8%) no-repeat;
$shadow: rgba(44, 9, 44, 0.15);
$font-raleway: "Raleway", sans-serif;
$font-judson: "Judson", serif;
$font-anonimus:"Anonymous Pro", monospace;
$font-inspiration: "Inspiration", cursive;

// === Импорты ===
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "Glass";
@import 'UserProfile';
@import 'Animation';
@import 'Buttons';
@import 'Reveal';
@import 'Gallery';

p {
  letter-spacing: 1px;
  font-family: $font-anonimus;
  font-weight: 100;
  color:$p-color;
}
h1 {
  font-family: $font-anonimus;
  font-weight: 100;
}
span{
  font-weight: 700;
}
select{
  padding: 15px;
  width: 100%;
  color: $p-color;
  @extend %glass2;
  border: none;
  text-align: center;
  border-radius: 10px;
}
input {
  color: $p-color;
  border-radius: 10px;
  @extend %glass2;
  width: 100%;
  padding: 10px;
}
// === App ===
.App {
  letter-spacing: 1px;
  color: $white;
  font-family: $font-anonimus;
  font-size: calc(3px + 2vmin);
  justify-content: center;
  text-decoration: none;
  background:$MainBgColor;
  padding-top: 50px;
}

.offerrImg{
  width: 100%;
}
// === Modal-auth ===
.header-modal-reg{
  padding: 40px;
  border-radius: 10px;
  @extend %glass2;
  z-index: 10000;
  button{
    border-radius: 20px;

  }
}
.header-modal-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  input {
    margin-top: 20px;
    padding: 30px;
    height: 30px;
    border-radius: 10px;
    @extend %glass;
  }
}
// === Modal-constructor===
.gallery-modal-constructor{
  padding: 5px 10px;
  border-radius: 15px;
  @extend %glass2;
  text-align: center;
  .input-group{
    margin-top: 20px;
  }
}
.format-btn {
  margin: 0 5px;
  padding: 8px 16px;
  background: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.format-btn.active {
  background: $ActiveColor; /* активная подсветка */
  border-color: $ActiveColor;
}

.header-overlay-hide {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  backdrop-filter: blur(35px) saturate(200%);
}
// === Modal-constructor===



// === Header ===
Header {
  align-items: center;
  padding: 15px;
  position: relative;
  border-radius: 18px;
  color: $white;
  gap: 20px;
}
// === footer === /

footer{
  p{
    transition: 1s ease-in-out;
  }
  p:hover{
    cursor: pointer;
    color: #7b0ba7;
    text-decoration: underline;
    transition: 0.5s;
    transform: scale(1.1);
  }
}
// === footer === ///

// === Блоки лендинга ===
.blob, .blobtwo, .blobtree {
  padding: 40px;
  border-radius: 25px;
  color: white;
  margin: 5vw ;
  @extend %glass2;

}
.block {
  font-family: $font-judson ;
  background-color: rgba(0, 0, 0, 24%);
  color: white;
  margin: 5vw ;

  @extend %glass2;
}